<html>
    <head>
        <title>URLs But Shorter</title>        
    </head>
    <body>
        <h1>Shorter URL:<h1>
        <form action="." method="POST">
            <pre>Copy the link below:</pre>
            <input type="text" name="url" size="50" value="{{ url }}" disabled>  
        </form>
    </body>
</html>